@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'JosefinSlab-Bold';
  src: url("../fonts/JosefinSlab-Bold.ttf");
}

@font-face {
  font-family: 'JosefinSlab-Regular';
  src: url("../fonts/JosefinSlab-Regular.ttf");
}

body {
  font-size: 14px;
  color: #333333;
  font-family: 'OpenSans-Regular';
  background: url(../img/bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.header .header-logo {
  text-align: center;
  padding-top: 30px;
}

.header .header-logo h3 {
  font-family: 'JosefinSlab-Bold';
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 70px;
  color: #ffffff;
  line-height: 1.1;
}

.header .header-logo p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 3px;
}

.header .header-nav {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 40px;
}

.header .header-nav .header-menu {
  text-align: center;
}

.header .header-nav .header-menu a {
  padding: 35px;
  display: inline-block;
  text-transform: uppercase;
  color: #777777;
  font-size: 18px;
  letter-spacing: 3px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .header-nav .header-menu a:hover {
  color: #333333;
}

.footer {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
}

.footer .title {
  padding: 50px 0;
  text-align: center;
}

.footer .title p {
  font-size: 18px;
  color: #000000;
}

.welcome {
  margin-top: 20px;
}

.welcome .welcome-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.welcome .welcome-block .welcome-slider .slick-list {
  overflow: hidden;
}

.welcome .welcome-block .welcome-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome .welcome-block .welcome-slider .slick-list .slick-track .welcome-slider-block {
  text-align: center;
}

.welcome .welcome-block .welcome-slider .slick-list .slick-track .welcome-slider-block img {
  width: 100%;
}

.welcome .welcome-block .welcome-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -50px;
}

.welcome .welcome-block .welcome-slider .slick-dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0 3px;
  z-index: 9999;
  cursor: pointer;
}

.welcome .welcome-block .welcome-slider .slick-dots li button {
  font-size: 0;
}

.welcome .welcome-block .welcome-slider .slick-dots .slick-active {
  width: 12px;
  height: 12px;
  background: #ffffff;
}

.welcome .welcome-block .welcome-desc {
  text-align: center;
  margin-top: 65px;
}

.welcome .welcome-block .welcome-desc h5 {
  font-size: 20px;
  color: #777777;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  line-height: 1.1;
}

.welcome .welcome-block .welcome-desc h4 {
  margin-top: 15px;
  font-size: 56px;
  font-family: 'JosefinSlab-Bold';
  letter-spacing: 1px;
  line-height: 1.1;
  position: relative;
}

.welcome .welcome-block .welcome-desc h4::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 250px;
  height: 1px;
  background: #999999;
}

.welcome .welcome-block .welcome-desc p {
  margin-top: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-size: 20px;
  color: #777777;
}

.welcome .welcome-block .welcome-desc p span {
  font-family: 'JosefinSlab-Bold';
}

.block1 {
  margin-top: 20px;
}

.block1 .block1-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.block1 .block1-block .title {
  margin-top: 40px;
  text-align: center;
}

.block1 .block1-block .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  position: relative;
}

.block1 .block1-block .title h5 span {
  font-family: 'JosefinSlab-Bold';
}

.block1 .block1-block .title h5::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  width: 400px;
  height: 1px;
}

.block1 .block1-block .title h5::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  width: 400px;
  height: 1px;
}

.block1 .block1-block .block1-wrap {
  margin-top: 40px;
}

.block1 .block1-block .block1-wrap .img img {
  border: 1px solid #999999;
  float: left;
  margin-right: 25px;
}

.block1 .block1-block .block1-wrap .content p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  margin-top: 10px;
}

.block1 .block1-block .block1-wrap .content p a {
  color: #428bca;
}

.block1 .block1-block .block1-wrap .content p a:hover {
  text-decoration: underline;
}

.block1 .block1-block .block1-wrap .content p:first-of-type {
  margin-top: 0;
}

.block2 {
  margin-top: 20px;
}

.block2 .block2-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.block2 .block2-block .title {
  margin-top: 40px;
  text-align: center;
}

.block2 .block2-block .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  position: relative;
}

.block2 .block2-block .title h5 span {
  font-family: 'JosefinSlab-Bold';
}

.block2 .block2-block .title h5::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  width: 400px;
  height: 1px;
}

.block2 .block2-block .title h5::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  width: 400px;
  height: 1px;
}

.block2 .block2-block .content {
  margin-top: 40px;
}

.block2 .block2-block .content p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  margin-top: 10px;
}

.block2 .block2-block .content p:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 680px) {
  .welcome .welcome-block {
    padding: 10px;
  }
  .welcome .welcome-block .welcome-slider .slick-dots {
    margin-top: -20px;
  }
  .welcome .welcome-block .welcome-desc h4 {
    font-size: 40px;
  }
}

@media screen and (max-width: 625px) {
  .header .header-nav .header-menu a {
    display: block;
    padding: 20px 0;
  }
}

@media screen and (max-width: 550px) {
  .block1 .block1-block .title h5::before {
    width: 80%;
  }
  .block1 .block1-block .title h5::after {
    width: 80%;
  }
  .block1 .block1-block .block1-wrap .img {
    text-align: center;
  }
  .block1 .block1-block .block1-wrap .img img {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .block1 .block1-block .block1-wrap .content {
    margin-top: 20px;
  }
  .block2 .block2-block .title h5::before {
    width: 80%;
  }
  .block2 .block2-block .title h5::after {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */