@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'JosefinSlab-Bold';
  src: url("../fonts/JosefinSlab-Bold.ttf");
}

@font-face {
  font-family: 'JosefinSlab-Regular';
  src: url("../fonts/JosefinSlab-Regular.ttf");
}

body {
  font-size: 14px;
  color: #333333;
  font-family: 'OpenSans-Regular';
  background: url(../img/bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.header .header-logo {
  text-align: center;
  padding-top: 30px;
}

.header .header-logo h3 {
  font-family: 'JosefinSlab-Bold';
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 70px;
  color: #ffffff;
  line-height: 1.1;
}

.header .header-logo p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 3px;
}

.header .header-nav {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 40px;
}

.header .header-nav .header-menu {
  text-align: center;
}

.header .header-nav .header-menu a {
  padding: 35px;
  display: inline-block;
  text-transform: uppercase;
  color: #777777;
  font-size: 18px;
  letter-spacing: 3px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .header-nav .header-menu a:hover {
  color: #333333;
}

.footer {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
}

.footer .title {
  padding: 50px 0;
  text-align: center;
}

.footer .title p {
  font-size: 18px;
  color: #000000;
}

.welcome {
  margin-top: 20px;
}

.welcome .welcome-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.welcome .welcome-block .welcome-slider .slick-list {
  overflow: hidden;
}

.welcome .welcome-block .welcome-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome .welcome-block .welcome-slider .slick-list .slick-track .welcome-slider-block {
  text-align: center;
}

.welcome .welcome-block .welcome-slider .slick-list .slick-track .welcome-slider-block img {
  width: 100%;
}

.welcome .welcome-block .welcome-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -50px;
}

.welcome .welcome-block .welcome-slider .slick-dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0 3px;
  z-index: 9999;
  cursor: pointer;
}

.welcome .welcome-block .welcome-slider .slick-dots li button {
  font-size: 0;
}

.welcome .welcome-block .welcome-slider .slick-dots .slick-active {
  width: 12px;
  height: 12px;
  background: #ffffff;
}

.welcome .welcome-block .welcome-desc {
  text-align: center;
  margin-top: 65px;
}

.welcome .welcome-block .welcome-desc h5 {
  font-size: 20px;
  color: #777777;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  line-height: 1.1;
}

.welcome .welcome-block .welcome-desc h4 {
  margin-top: 15px;
  font-size: 56px;
  font-family: 'JosefinSlab-Bold';
  letter-spacing: 1px;
  line-height: 1.1;
  position: relative;
}

.welcome .welcome-block .welcome-desc h4::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 250px;
  height: 1px;
  background: #999999;
}

.welcome .welcome-block .welcome-desc p {
  margin-top: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-size: 20px;
  color: #777777;
}

.welcome .welcome-block .welcome-desc p span {
  font-family: 'JosefinSlab-Bold';
}

.block1 {
  margin-top: 20px;
}

.block1 .block1-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.block1 .block1-block .title {
  margin-top: 40px;
  text-align: center;
}

.block1 .block1-block .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  position: relative;
}

.block1 .block1-block .title h5 span {
  font-family: 'JosefinSlab-Bold';
}

.block1 .block1-block .title h5::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  width: 400px;
  height: 1px;
}

.block1 .block1-block .title h5::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  width: 400px;
  height: 1px;
}

.block1 .block1-block .block1-wrap {
  margin-top: 40px;
}

.block1 .block1-block .block1-wrap .img img {
  border: 1px solid #999999;
  float: left;
  margin-right: 25px;
}

.block1 .block1-block .block1-wrap .content p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  margin-top: 10px;
}

.block1 .block1-block .block1-wrap .content p a {
  color: #428bca;
}

.block1 .block1-block .block1-wrap .content p a:hover {
  text-decoration: underline;
}

.block1 .block1-block .block1-wrap .content p:first-of-type {
  margin-top: 0;
}

.block2 {
  margin-top: 20px;
}

.block2 .block2-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.block2 .block2-block .title {
  margin-top: 40px;
  text-align: center;
}

.block2 .block2-block .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  position: relative;
}

.block2 .block2-block .title h5 span {
  font-family: 'JosefinSlab-Bold';
}

.block2 .block2-block .title h5::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  width: 400px;
  height: 1px;
}

.block2 .block2-block .title h5::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  width: 400px;
  height: 1px;
}

.block2 .block2-block .content {
  margin-top: 40px;
}

.block2 .block2-block .content p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  margin-top: 10px;
}

.block2 .block2-block .content p:first-of-type {
  margin-top: 0;
}

.about-block1 {
  margin-top: 20px;
}

.about-block1 .block1-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.about-block1 .block1-block .title {
  text-align: center;
  margin-top: 40px;
}

.about-block1 .block1-block .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  position: relative;
}

.about-block1 .block1-block .title h5 span {
  font-family: 'JosefinSlab-Bold';
}

.about-block1 .block1-block .title h5::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  height: 1px;
  width: 400px;
}

.about-block1 .block1-block .title h5::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  height: 1px;
  width: 400px;
}

.about-block1 .block1-block .block-wrap {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-block1 .block1-block .block-wrap .block {
  width: 48.5%;
}

.about-block1 .block1-block .block-wrap .block img {
  width: 100%;
}

.about-block1 .block1-block .block-wrap .block p {
  font-size: 18px;
  line-height: 1.6;
  color: #000000;
  margin-top: 10px;
}

.about-block1 .block1-block .block-wrap .block p:first-of-type {
  margin-top: 0;
}

.about-block2 {
  margin-top: 20px;
}

.about-block2 .block2-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.about-block2 .block2-block .title {
  text-align: center;
  margin-top: 40px;
}

.about-block2 .block2-block .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  position: relative;
}

.about-block2 .block2-block .title h5 span {
  font-family: 'JosefinSlab-Bold';
}

.about-block2 .block2-block .title h5::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  height: 1px;
  width: 400px;
}

.about-block2 .block2-block .title h5::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  height: 1px;
  width: 400px;
}

.about-block2 .block2-block .block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.about-block2 .block2-block .block-wrap .card {
  width: 31.5%;
}

.about-block2 .block2-block .block-wrap .card img {
  width: 100%;
}

.about-block2 .block2-block .block-wrap .card .content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about-block2 .block2-block .block-wrap .card .content h4 {
  text-transform: uppercase;
  font-family: 'JosefinSlab-Bold';
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 1.1;
}

.about-block2 .block2-block .block-wrap .card .content h5 {
  text-transform: uppercase;
  font-size: 16px;
  color: #777777;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  margin-left: 10px;
}

.blog-main {
  margin-top: 20px;
}

.blog-main .blog-main-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.blog-main .blog-main-block .title {
  text-align: center;
  margin-top: 40px;
}

.blog-main .blog-main-block .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  position: relative;
}

.blog-main .blog-main-block .title h5 span {
  font-family: 'JosefinSlab-Bold';
}

.blog-main .blog-main-block .title h5::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  height: 1px;
  width: 36%;
}

.blog-main .blog-main-block .title h5::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  height: 1px;
  width: 36%;
}

.blog-main .blog-main-block .block {
  margin-top: 20px;
  position: relative;
  padding-bottom: 20px;
}

.blog-main .blog-main-block .block::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  background: #999999;
  width: 36%;
}

.blog-main .blog-main-block .block .img {
  width: 100%;
}

.blog-main .blog-main-block .block .img img {
  width: 100%;
  border: 1px solid #999999;
}

.blog-main .blog-main-block .block .content {
  text-align: center;
  margin-top: 20px;
}

.blog-main .blog-main-block .block .content h5 {
  text-transform: uppercase;
  font-family: 'JosefinSlab-Bold';
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1.1;
}

.blog-main .blog-main-block .block .content h6 {
  font-size: 20px;
  text-transform: uppercase;
  color: #777777;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  margin-top: 5px;
}

.blog-main .blog-main-block .block .content p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.6;
  color: #000000;
}

.blog-main .blog-main-block .block .content .btn {
  margin-top: 10px;
}

.blog-main .blog-main-block .block .content .btn button {
  width: 125px;
  height: 45px;
  font-size: 18px;
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.blog-main .blog-main-block .block .content .btn button:hover {
  background: #dddddd;
}

.blog-main .blog-main-block .block1 {
  margin-top: 40px;
}

.contact-block1 {
  margin-top: 20px;
}

.contact-block1 .block1-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.contact-block1 .block1-block .title {
  text-align: center;
  margin-top: 40px;
}

.contact-block1 .block1-block .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  position: relative;
}

.contact-block1 .block1-block .title h5 span {
  font-family: 'JosefinSlab-Bold';
}

.contact-block1 .block1-block .title h5::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  height: 1px;
  width: 36%;
}

.contact-block1 .block1-block .title h5::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  height: 1px;
  width: 36%;
}

.contact-block1 .block1-block .block-wrap {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-block1 .block1-block .block-wrap .map {
  width: 66%;
  height: 400px;
}

.contact-block1 .block1-block .block-wrap .map iframe {
  width: 100%;
  height: 100%;
}

.contact-block1 .block1-block .block-wrap .content {
  margin-left: 30px;
}

.contact-block1 .block1-block .block-wrap .content p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  margin-top: 10px;
}

.contact-block1 .block1-block .block-wrap .content p:first-of-type {
  margin-top: 0;
}

.contact-block1 .block1-block .block-wrap .content p a {
  font-weight: bold;
  color: #428bca;
}

.contact-block1 .block1-block .block-wrap .content p a:hover {
  text-decoration: underline;
}

.contact-block2 {
  margin-top: 20px;
}

.contact-block2 .block2-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.contact-block2 .block2-block .title {
  text-align: center;
  margin-top: 40px;
}

.contact-block2 .block2-block .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'JosefinSlab-Regular';
  font-weight: lighter;
  position: relative;
}

.contact-block2 .block2-block .title h5 span {
  font-family: 'JosefinSlab-Bold';
}

.contact-block2 .block2-block .title h5::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  height: 1px;
  width: 36%;
}

.contact-block2 .block2-block .title h5::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #999999;
  height: 1px;
  width: 36%;
}

.contact-block2 .block2-block .block-content {
  margin-top: 40px;
}

.contact-block2 .block2-block .block-content p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
}

.contact-block2 .block2-block .block-content form {
  margin-top: 10px;
}

.contact-block2 .block2-block .block-content form .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-block2 .block2-block .block-content form .input-wrap .block {
  width: 31.5%;
}

.contact-block2 .block2-block .block-content form .input-wrap .block p {
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

.contact-block2 .block2-block .block-content form .input-wrap .block input {
  background: #ffffff;
  width: 100%;
  margin-top: 5px;
  height: 35px;
  padding: 6px 12px;
  color: #555555;
  border-radius: 4px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color .3s linear;
  transition: border-color .3s linear;
  -webkit-transition: -webkit-box-shadow .3s linear;
  transition: -webkit-box-shadow .3s linear;
  transition: box-shadow .3s linear;
  transition: box-shadow .3s linear, -webkit-box-shadow .3s linear;
}

.contact-block2 .block2-block .block-content form .input-wrap .block input:focus {
  border-color: #428bca;
  -webkit-box-shadow: 0 0 5px rgba(66, 139, 202, 0.7);
          box-shadow: 0 0 5px rgba(66, 139, 202, 0.7);
}

.contact-block2 .block2-block .block-content form .message-block {
  margin-top: 15px;
  width: 100%;
}

.contact-block2 .block2-block .block-content form .message-block p {
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

.contact-block2 .block2-block .block-content form .message-block textarea {
  background: #ffffff;
  width: 100%;
  height: 135px;
  border: 1px solid #cccccc;
  margin-top: 5px;
  border-radius: 4px;
  color: #555555;
  padding: 6px 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color .3s linear;
  transition: border-color .3s linear;
  -webkit-transition: -webkit-box-shadow .3s linear;
  transition: -webkit-box-shadow .3s linear;
  transition: box-shadow .3s linear;
  transition: box-shadow .3s linear, -webkit-box-shadow .3s linear;
}

.contact-block2 .block2-block .block-content form .message-block textarea:focus {
  border-color: #428bca;
  -webkit-box-shadow: 0 0 5px rgba(66, 139, 202, 0.7);
          box-shadow: 0 0 5px rgba(66, 139, 202, 0.7);
}

.contact-block2 .block2-block .block-content form .btn {
  margin-top: 15px;
}

.contact-block2 .block2-block .block-content form .btn button {
  background: #ffffff;
  width: 70px;
  height: 35px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.contact-block2 .block2-block .block-content form .btn button:hover {
  background: #dddddd;
}

@media screen and (max-width: 900px) {
  .about-block1 .block1-block .title h5::before {
    width: 80%;
  }
  .about-block1 .block1-block .title h5::after {
    width: 80%;
  }
  .about-block1 .block1-block .block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-block1 .block1-block .block-wrap .block {
    margin: auto;
  }
  .about-block1 .block1-block .block-wrap .content {
    margin-top: 40px;
  }
}

@media screen and (max-width: 885px) {
  .about-block2 .block2-block .block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  .about-block2 .block2-block .block-wrap .card {
    margin: 50px auto 0;
    width: 80%;
  }
  .contact-block1 .block1-block .block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-block1 .block1-block .block-wrap .block {
    margin: auto;
  }
  .contact-block1 .block1-block .block-wrap .map {
    width: 100%;
  }
  .contact-block1 .block1-block .block-wrap .content {
    margin-top: 50px;
  }
}

@media screen and (max-width: 690px) {
  .contact-block2 .block2-block .block-content form .input-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-block2 .block2-block .block-content form .input-wrap .block {
    margin: 15px auto 0;
    width: 100%;
  }
  .contact-block2 .block2-block .block-content form .input-wrap .block:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 680px) {
  .welcome .welcome-block {
    padding: 10px;
  }
  .welcome .welcome-block .welcome-slider .slick-dots {
    margin-top: -20px;
  }
  .welcome .welcome-block .welcome-desc h4 {
    font-size: 40px;
  }
}

@media screen and (max-width: 625px) {
  .header .header-nav .header-menu a {
    display: block;
    padding: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .about-block1 .block1-block .block-wrap .block {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .block1 .block1-block .title h5::before {
    width: 80%;
  }
  .block1 .block1-block .title h5::after {
    width: 80%;
  }
  .block1 .block1-block .block1-wrap .img {
    text-align: center;
  }
  .block1 .block1-block .block1-wrap .img img {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .block1 .block1-block .block1-wrap .content {
    margin-top: 20px;
  }
  .block2 .block2-block .title h5::before {
    width: 80%;
  }
  .block2 .block2-block .title h5::after {
    width: 80%;
  }
  .about-block2 .block2-block .title h5::before {
    width: 80%;
  }
  .about-block2 .block2-block .title h5::after {
    width: 80%;
  }
  .about-block2 .block2-block .block-wrap .card {
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .about-block2 .block2-block .block-wrap .card .content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-block2 .block2-block .block-wrap .card .content h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 330px) {
  .contact-block1 .block1-block .block-wrap .content p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */