@media screen and ( max-width: 900px )
  .about-block1
    & .block1-block 
      & .title 
        & h5 
          &::before
            width: 80%
          &::after
            width: 80%
      & .block-wrap  
        flex-direction: column 
        justify-content: center
        & .block 
          margin: auto
        & .content 
          margin-top: 40px 
@media screen and ( max-width: 885px )
  .about-block2
    & .block2-block 
      & .block-wrap
        flex-direction: column 
        justify-content: center
        margin-top: 0
        & .card
          margin: 50px auto 0 
          width: 80%
@media screen and ( max-width: 680px )
  .welcome 
    & .welcome-block 
      padding: 10px 
      & .welcome-slider 
        & .slick-dots 
          margin-top: -20px 
      & .welcome-desc 
        & h4 
          font-size: 40px 
@media screen and ( max-width: 625px )
  .header 
    & .header-nav
      & .header-menu 
        & a 
          display: block 
          padding: 20px 0 
@media screen and ( max-width: 600px )
  .about-block1
    & .block1-block 
      & .block-wrap  
        & .block 
          width: 100%
@media screen and ( max-width: 550px )
  .block1 
    & .block1-block 
      & .title 
        & h5 
          &::before
            width: 80%
          &::after
            width: 80%
      & .block1-wrap 
        & .img 
          text-align: center
          & img 
            float: none 
            margin-right: 0
            width: 100%
        & .content 
          margin-top: 20px 
  .block2
    & .block2-block 
      & .title 
        & h5 
          &::before
            width: 80%
          &::after
            width: 80%
  .about-block2
    & .block2-block 
      & .title 
        & h5 
          &::before
            width: 80%
          &::after
            width: 80%
      & .block-wrap
        & .card
          width: 100%
@media screen and ( max-width: 340px )
  .about-block2
    & .block2-block 
      & .block-wrap
        & .card 
          & .content 
            justify-content: space-between
            & h4
              font-size: 20px  
              
         